// Typography
$ff-primary   : 'Arial Regular', Helvetica, sans-serif;
$ff-secondary : 'Mary-Ann-ExtraBold';
$ff-tertiary  : 'Mary-Ann-Medium';

// Colors
$black: #000;
$white: #FFF;
$body-text: $black;

// Layout
$sp-l: rem(60);
$sp-s: rem(30);